target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

# Общие игнорируемые файлы
*.class
*.log
*.tmp
*.swp


# Директории сборки
target/
bin/
.metadata/
.settings/

# Игнорирование настроек IDE
.idea/
*.iml
*.project
*.classpath

# Игнорирование системных файлов
.DS_Store
Thumbs.db

# Игнорирование файла email.properties
*.properties