<div th:fragment="header">

    <div class="header-nav-buttons">

        <div class="menu-button"><a th:href="@{/goToMainPage}"><img th:src="@{/images/home-icon.png}" alt="home-icon"
                                                                    class="button-icon"></a></div>

        <div class="auth-reg-button" th:if="${user == null}">
            <a th:href="@{/goToAuthPage}">
                <button>
                    <img th:src="@{/images/profile-icon.png}" alt="profile-icon" class="button-icon">
                    Войти/зарегистрироваться
                </button>
            </a>
        </div>

         <div class="main-menu" th:if="${user != null}">
             <nav>
                 <ul>
                     <li>
                         <a th:text="${user.login}" th:href="@{/goToProfilePage}"> </a>
                         <div class="dropdown-content">
                             <a th:href="@{/goToStubPage}">Изменить профиль</a>
                             <a th:href="@{/logout}">Выйти</a>
                         </div>
                     </li>
                 </ul>
             </nav>
         </div>
    </div>
</div>