<div xmlns:th="http://www.thymeleaf.org" th:fragment="main-content">
    <div class="short-description"><h2>Здравствуйте, <span th:text="${user.login}"></span></h2>
        <div class="standard-a">
            <a th:href="@{/showAllUserOperationHistory}"><img th:src="@{/images/user-recipe-oper-icon.png}"
                                                              alt="user-recipe-operation-icon" class="button-icon">Просмотреть историю действий
                пользователя</a>
            <br>
            <a th:href="@{/showAllRecipes}"><img th:src="@{/images/all-recipes-icon.png}"
                                                 alt="all-recipes-icon" class="button-icon">Вернуться к списку рецептов</a>
        </div>
    </div>
</div>