<div xmlns:th="http://www.thymeleaf.org" th:fragment="main-content" class="recipe-list-block">
    <!--
    <h2>Неавторизованным пользователям доступен лишь список рецептов. <br>
        Для получения описания блюда и процесса приготовления, пожалуйста, зарегистрируйтесь.</h2>
        -->
    <h2 class="short-description">Это заглушка текста, которая будет использоваться, когда пользователь в сети и ему доступны все возможности.<br>
        Это заглушка текста, которая будет использоваться, когда пользователь в сети и ему доступны все возможности.</h2>
    <div id="add-recipe-button">
        <form th:action="@{/showCreateForm}" method="get">
            <button type="submit">
                <img th:src="@{/images/add-recipe-icon.png}" alt="add-recipe-icon" class="button-icon">
                Добавить рецепт
            </button>
        </form>
    </div>
    <!-- Впоследствии реализовать отображение по 10 рецептов на странице -->
    <div class="recipe-body" th:each="recipe : ${recipes}">
        <h2 th:text="${recipe.name}"></h2>
        <div th:text="${recipe.mealCategory.getCategoryName()}"></div>
        <h3>Калорийность:</h3>
        <div th:text="${recipe.caloricValue + ' ккал'}"></div>
        <h3>Ингредиенты:</h3>
        <div th:text="${recipe.ingredients}"></div>
        <h3>Как готовить:</h3>
        <div th:text="${recipe.description}"></div>
        <h3>Автор:</h3>
        <div th:each="author : ${recipe.authorSet}">
            <div th:text= "${author}"></div>
        </div>
        <div class="flex-box">
            <form th:action="@{/showUpdateForm}" method="get">
                <input type="hidden" name="recipeId" th:value="${recipe.id}">
                <button class="repeated-button" type="submit"
                        onclick="return confirm('Изменить рецепт?')">
                    Изменить рецепт
                </button>

            </form>
            <form th:action="@{/deleteRecipe}" method="get">
                <input type="hidden" name="recipeId" th:value="${recipe.id}">
                <button class="repeated-button" type="submit"
                        onclick="return confirm('Удалить рецепт?')">
                    Удалить рецепт
                </button>
            </form>
        </div>
    </div>
</div>